@media (prefers-color-scheme: light) {
  :root {
    --text: #0b0e0e;
    --background: #f8fafa;
    --primary: #6b9da6;
    --secondary: #a1c6cd;
    --warning: #d88029;

    --accent-30: #7bb6c04d;
    --background-30: #f8fafa4d;
    --primary-30: #6b9da64d;
    --secondary-30: #a1c6cd4d;
    --accent-30: #7bb6c04d;
    --warning-30: #d880294d;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f1f4f4;
    --background: #040606;
    --primary: #588a93;
    --secondary: #31565e;
    --warning: #d78028;

    --accent-30: #3f79834d;
    --background-30: #0406064d;
    --primary-30: #588a934d;
    --secondary-30: #31565e4d;
    --accent-30: #3f79834d;
    --warning-30: #d780284d;
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--text);
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}

html {
  scroll-behavior: smooth !important;
  background: var(--background);
  scroll-padding-top: 5rem;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

p {
  line-height: 2rem;
  font-weight: 500;
}

ul,
ol {
  padding-left: 2rem;
}

li {
  font-weight: 600;
}

ol li {
  list-style: decimal;
}

ul li {
  list-style: '→';
  padding-left: 0.5rem;
}

li::marker {
  color: var(--primary);
}
